desktop/B3/bin/Release/B3-osx-x64.zip
desktop/B3/bin/Release/win-x64/System.IO.Compression.Native.dll
desktop/B3/bin/Debug/net10.0/B3.dll
desktop/B3/bin/Debug/net10.0/B3.exe
desktop/B3/bin/Debug/net10.0/B3.pdb
desktop/B3/bin/Debug/net10.0/Data/exam.db
desktop/B3/bin/Release/B3-linux-x64.zip
desktop/B3/bin/Release/B3-osx-arm64.zip
desktop/B3/bin/Release/B3-win-x64.zip
desktop/B3/bin/Release/win-x64/av_libglesv2.dll
desktop/B3/bin/Release/win-x64/Avalonia.Base.dll
desktop/B3/bin/Release/win-x64/Avalonia.Controls.dll
desktop/B3/bin/Release/win-x64/Avalonia.DesignerSupport.dll
desktop/B3/bin/Release/win-x64/Avalonia.Desktop.dll
desktop/B3/bin/Release/win-x64/Avalonia.Dialogs.dll
desktop/B3/bin/Release/win-x64/Avalonia.dll
desktop/B3/bin/Release/win-x64/Avalonia.Fonts.Inter.dll
desktop/B3/bin/Release/win-x64/Avalonia.FreeDesktop.AtSpi.dll
desktop/B3/bin/Release/win-x64/Avalonia.FreeDesktop.dll
desktop/B3/bin/Release/win-x64/Avalonia.HarfBuzz.dll
desktop/B3/bin/Release/win-x64/Avalonia.Markup.dll
desktop/B3/bin/Release/win-x64/Avalonia.Markup.Xaml.dll
desktop/B3/bin/Release/win-x64/Avalonia.Metal.dll
desktop/B3/bin/Release/win-x64/Avalonia.MicroCom.dll
desktop/B3/bin/Release/win-x64/Avalonia.Native.dll
desktop/B3/bin/Release/win-x64/Avalonia.OpenGL.dll
desktop/B3/bin/Release/win-x64/Avalonia.Remote.Protocol.dll
desktop/B3/bin/Release/win-x64/Avalonia.Skia.dll
desktop/B3/bin/Release/win-x64/Avalonia.Themes.Fluent.dll
desktop/B3/bin/Release/win-x64/Avalonia.Vulkan.dll
desktop/B3/bin/Release/win-x64/Avalonia.Win32.Automation.dll
desktop/B3/bin/Release/win-x64/Avalonia.Win32.dll
desktop/B3/bin/Release/win-x64/Avalonia.X11.dll
desktop/B3/bin/Release/win-x64/B3.deps.json
desktop/B3/bin/Release/win-x64/B3.dll
desktop/B3/bin/Release/win-x64/B3.exe
desktop/B3/bin/Release/win-x64/B3.pdb
desktop/B3/bin/Release/win-x64/B3.runtimeconfig.json
desktop/B3/bin/Release/win-x64/BouncyCastle.Cryptography.dll
desktop/B3/bin/Release/win-x64/clretwrc.dll
desktop/B3/bin/Release/win-x64/clrgc.dll
desktop/B3/bin/Release/win-x64/clrgcexp.dll
desktop/B3/bin/Release/win-x64/clrjit.dll
desktop/B3/bin/Release/win-x64/CommunityToolkit.Mvvm.dll
desktop/B3/bin/Release/win-x64/coreclr.dll
desktop/B3/bin/Release/win-x64/createdump.exe
desktop/B3/bin/Release/win-x64/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/cs/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/Data/exam.db
desktop/B3/bin/Release/win-x64/de/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/de/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/e_sqlite3.dll
desktop/B3/bin/Release/win-x64/Enums.NET.dll
desktop/B3/bin/Release/win-x64/es/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/es/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ExtendedNumerics.BigDecimal.dll
desktop/B3/bin/Release/win-x64/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/fr/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/HarfBuzzSharp.dll
desktop/B3/bin/Release/win-x64/hostfxr.dll
desktop/B3/bin/Release/win-x64/hostpolicy.dll
desktop/B3/bin/Release/win-x64/Humanizer.dll
desktop/B3/bin/Release/win-x64/ICSharpCode.SharpZipLib.dll
desktop/B3/bin/Release/win-x64/it/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/it/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ja/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ko/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/libHarfBuzzSharp.dll
desktop/B3/bin/Release/win-x64/libHarfBuzzSharp.pdb
desktop/B3/bin/Release/win-x64/libSkiaSharp.dll
desktop/B3/bin/Release/win-x64/libSkiaSharp.pdb
desktop/B3/bin/Release/win-x64/MathNet.Numerics.dll
desktop/B3/bin/Release/win-x64/MicroCom.Runtime.dll
desktop/B3/bin/Release/win-x64/Microsoft.Bcl.AsyncInterfaces.dll
desktop/B3/bin/Release/win-x64/Microsoft.CodeAnalysis.CSharp.dll
desktop/B3/bin/Release/win-x64/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
desktop/B3/bin/Release/win-x64/Microsoft.CodeAnalysis.dll
desktop/B3/bin/Release/win-x64/Microsoft.CodeAnalysis.Workspaces.dll
desktop/B3/bin/Release/win-x64/Microsoft.CSharp.dll
desktop/B3/bin/Release/win-x64/Microsoft.Data.Sqlite.dll
desktop/B3/bin/Release/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
desktop/B3/bin/Release/win-x64/Microsoft.EntityFrameworkCore.Abstractions.dll
desktop/B3/bin/Release/win-x64/Microsoft.EntityFrameworkCore.Design.dll
desktop/B3/bin/Release/win-x64/Microsoft.EntityFrameworkCore.dll
desktop/B3/bin/Release/win-x64/Microsoft.EntityFrameworkCore.Relational.dll
desktop/B3/bin/Release/win-x64/Microsoft.EntityFrameworkCore.Sqlite.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Caching.Abstractions.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Caching.Memory.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Configuration.Abstractions.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.DependencyInjection.Abstractions.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.DependencyInjection.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.DependencyModel.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Logging.Abstractions.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Logging.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Options.dll
desktop/B3/bin/Release/win-x64/Microsoft.Extensions.Primitives.dll
desktop/B3/bin/Release/win-x64/Microsoft.IO.RecyclableMemoryStream.dll
desktop/B3/bin/Release/win-x64/Microsoft.VisualBasic.Core.dll
desktop/B3/bin/Release/win-x64/Microsoft.VisualBasic.dll
desktop/B3/bin/Release/win-x64/Microsoft.Win32.Primitives.dll
desktop/B3/bin/Release/win-x64/Microsoft.Win32.Registry.dll
desktop/B3/bin/Release/win-x64/Mono.TextTemplating.dll
desktop/B3/bin/Release/win-x64/mscordaccore.dll
desktop/B3/bin/Release/win-x64/mscordaccore_amd64_amd64_10.0.826.23019.dll
desktop/B3/bin/Release/win-x64/mscordbi.dll
desktop/B3/bin/Release/win-x64/mscorlib.dll
desktop/B3/bin/Release/win-x64/mscorrc.dll
desktop/B3/bin/Release/win-x64/msquic.dll
desktop/B3/bin/Release/win-x64/netstandard.dll
desktop/B3/bin/Release/win-x64/NPOI.Core.dll
desktop/B3/bin/Release/win-x64/NPOI.OOXML.dll
desktop/B3/bin/Release/win-x64/NPOI.OpenXml4Net.dll
desktop/B3/bin/Release/win-x64/NPOI.OpenXmlFormats.dll
desktop/B3/bin/Release/win-x64/NSax.dll
desktop/B3/bin/Release/win-x64/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/pl/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/pt-BR/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ru/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/SixLabors.Fonts.dll
desktop/B3/bin/Release/win-x64/SixLabors.ImageSharp.dll
desktop/B3/bin/Release/win-x64/SkiaSharp.dll
desktop/B3/bin/Release/win-x64/SQLitePCLRaw.batteries_v2.dll
desktop/B3/bin/Release/win-x64/SQLitePCLRaw.core.dll
desktop/B3/bin/Release/win-x64/SQLitePCLRaw.provider.e_sqlite3.dll
desktop/B3/bin/Release/win-x64/System.AppContext.dll
desktop/B3/bin/Release/win-x64/System.Buffers.dll
desktop/B3/bin/Release/win-x64/System.CodeDom.dll
desktop/B3/bin/Release/win-x64/System.Collections.Concurrent.dll
desktop/B3/bin/Release/win-x64/System.Collections.dll
desktop/B3/bin/Release/win-x64/System.Collections.Immutable.dll
desktop/B3/bin/Release/win-x64/System.Collections.NonGeneric.dll
desktop/B3/bin/Release/win-x64/System.Collections.Specialized.dll
desktop/B3/bin/Release/win-x64/System.ComponentModel.Annotations.dll
desktop/B3/bin/Release/win-x64/System.ComponentModel.DataAnnotations.dll
desktop/B3/bin/Release/win-x64/System.ComponentModel.dll
desktop/B3/bin/Release/win-x64/System.ComponentModel.EventBasedAsync.dll
desktop/B3/bin/Release/win-x64/System.ComponentModel.Primitives.dll
desktop/B3/bin/Release/win-x64/System.ComponentModel.TypeConverter.dll
desktop/B3/bin/Release/win-x64/System.Composition.AttributedModel.dll
desktop/B3/bin/Release/win-x64/System.Composition.Convention.dll
desktop/B3/bin/Release/win-x64/System.Composition.Hosting.dll
desktop/B3/bin/Release/win-x64/System.Composition.Runtime.dll
desktop/B3/bin/Release/win-x64/System.Composition.TypedParts.dll
desktop/B3/bin/Release/win-x64/System.Configuration.dll
desktop/B3/bin/Release/win-x64/System.Console.dll
desktop/B3/bin/Release/win-x64/System.Core.dll
desktop/B3/bin/Release/win-x64/System.Data.Common.dll
desktop/B3/bin/Release/win-x64/System.Data.DataSetExtensions.dll
desktop/B3/bin/Release/win-x64/System.Data.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.Contracts.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.Debug.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.DiagnosticSource.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.FileVersionInfo.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.Process.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.StackTrace.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.TextWriterTraceListener.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.Tools.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.TraceSource.dll
desktop/B3/bin/Release/win-x64/System.Diagnostics.Tracing.dll
desktop/B3/bin/Release/win-x64/System.dll
desktop/B3/bin/Release/win-x64/System.Drawing.dll
desktop/B3/bin/Release/win-x64/System.Drawing.Primitives.dll
desktop/B3/bin/Release/win-x64/System.Dynamic.Runtime.dll
desktop/B3/bin/Release/win-x64/System.Formats.Asn1.dll
desktop/B3/bin/Release/win-x64/System.Formats.Tar.dll
desktop/B3/bin/Release/win-x64/System.Globalization.Calendars.dll
desktop/B3/bin/Release/win-x64/System.Globalization.dll
desktop/B3/bin/Release/win-x64/System.Globalization.Extensions.dll
desktop/B3/bin/Release/win-x64/System.IO.Compression.Brotli.dll
desktop/B3/bin/Release/win-x64/System.IO.Compression.dll
desktop/B3/bin/Release/win-x64/System.IO.Compression.FileSystem.dll
desktop/B3/bin/Release/win-x64/System.IO.Compression.Native.dll
desktop/B3/bin/Release/win-x64/System.IO.Compression.ZipFile.dll
desktop/B3/bin/Release/win-x64/System.IO.dll
desktop/B3/bin/Release/win-x64/System.IO.FileSystem.AccessControl.dll
desktop/B3/bin/Release/win-x64/System.IO.FileSystem.dll
desktop/B3/bin/Release/win-x64/System.IO.FileSystem.DriveInfo.dll
desktop/B3/bin/Release/win-x64/System.IO.FileSystem.Primitives.dll
desktop/B3/bin/Release/win-x64/System.IO.FileSystem.Watcher.dll
desktop/B3/bin/Release/win-x64/System.IO.IsolatedStorage.dll
desktop/B3/bin/Release/win-x64/System.IO.MemoryMappedFiles.dll
desktop/B3/bin/Release/win-x64/System.IO.Pipelines.dll
desktop/B3/bin/Release/win-x64/System.IO.Pipes.AccessControl.dll
desktop/B3/bin/Release/win-x64/System.IO.Pipes.dll
desktop/B3/bin/Release/win-x64/System.IO.UnmanagedMemoryStream.dll
desktop/B3/bin/Release/win-x64/System.Linq.AsyncEnumerable.dll
desktop/B3/bin/Release/win-x64/System.Linq.dll
desktop/B3/bin/Release/win-x64/System.Linq.Expressions.dll
desktop/B3/bin/Release/win-x64/System.Linq.Parallel.dll
desktop/B3/bin/Release/win-x64/System.Linq.Queryable.dll
desktop/B3/bin/Release/win-x64/System.Memory.dll
desktop/B3/bin/Release/win-x64/System.Net.dll
desktop/B3/bin/Release/win-x64/System.Net.Http.dll
desktop/B3/bin/Release/win-x64/System.Net.Http.Json.dll
desktop/B3/bin/Release/win-x64/System.Net.HttpListener.dll
desktop/B3/bin/Release/win-x64/System.Net.Mail.dll
desktop/B3/bin/Release/win-x64/System.Net.NameResolution.dll
desktop/B3/bin/Release/win-x64/System.Net.NetworkInformation.dll
desktop/B3/bin/Release/win-x64/System.Net.Ping.dll
desktop/B3/bin/Release/win-x64/System.Net.Primitives.dll
desktop/B3/bin/Release/win-x64/System.Net.Quic.dll
desktop/B3/bin/Release/win-x64/System.Net.Requests.dll
desktop/B3/bin/Release/win-x64/System.Net.Security.dll
desktop/B3/bin/Release/win-x64/System.Net.ServerSentEvents.dll
desktop/B3/bin/Release/win-x64/System.Net.ServicePoint.dll
desktop/B3/bin/Release/win-x64/System.Net.Sockets.dll
desktop/B3/bin/Release/win-x64/System.Net.WebClient.dll
desktop/B3/bin/Release/win-x64/System.Net.WebHeaderCollection.dll
desktop/B3/bin/Release/win-x64/System.Net.WebProxy.dll
desktop/B3/bin/Release/win-x64/System.Net.WebSockets.Client.dll
desktop/B3/bin/Release/win-x64/System.Net.WebSockets.dll
desktop/B3/bin/Release/win-x64/System.Numerics.dll
desktop/B3/bin/Release/win-x64/System.Numerics.Vectors.dll
desktop/B3/bin/Release/win-x64/System.ObjectModel.dll
desktop/B3/bin/Release/win-x64/System.Private.CoreLib.dll
desktop/B3/bin/Release/win-x64/System.Private.DataContractSerialization.dll
desktop/B3/bin/Release/win-x64/System.Private.Uri.dll
desktop/B3/bin/Release/win-x64/System.Private.Xml.dll
desktop/B3/bin/Release/win-x64/System.Private.Xml.Linq.dll
desktop/B3/bin/Release/win-x64/System.Reflection.DispatchProxy.dll
desktop/B3/bin/Release/win-x64/System.Reflection.dll
desktop/B3/bin/Release/win-x64/System.Reflection.Emit.dll
desktop/B3/bin/Release/win-x64/System.Reflection.Emit.ILGeneration.dll
desktop/B3/bin/Release/win-x64/System.Reflection.Emit.Lightweight.dll
desktop/B3/bin/Release/win-x64/System.Reflection.Extensions.dll
desktop/B3/bin/Release/win-x64/System.Reflection.Metadata.dll
desktop/B3/bin/Release/win-x64/System.Reflection.Primitives.dll
desktop/B3/bin/Release/win-x64/System.Reflection.TypeExtensions.dll
desktop/B3/bin/Release/win-x64/System.Resources.Reader.dll
desktop/B3/bin/Release/win-x64/System.Resources.ResourceManager.dll
desktop/B3/bin/Release/win-x64/System.Resources.Writer.dll
desktop/B3/bin/Release/win-x64/System.Runtime.CompilerServices.Unsafe.dll
desktop/B3/bin/Release/win-x64/System.Runtime.CompilerServices.VisualC.dll
desktop/B3/bin/Release/win-x64/System.Runtime.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Extensions.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Handles.dll
desktop/B3/bin/Release/win-x64/System.Runtime.InteropServices.dll
desktop/B3/bin/Release/win-x64/System.Runtime.InteropServices.JavaScript.dll
desktop/B3/bin/Release/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Intrinsics.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Loader.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Numerics.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Serialization.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Serialization.Formatters.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Serialization.Json.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Serialization.Primitives.dll
desktop/B3/bin/Release/win-x64/System.Runtime.Serialization.Xml.dll
desktop/B3/bin/Release/win-x64/System.Security.AccessControl.dll
desktop/B3/bin/Release/win-x64/System.Security.Claims.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Algorithms.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Cng.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Csp.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Encoding.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.OpenSsl.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Pkcs.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Primitives.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.X509Certificates.dll
desktop/B3/bin/Release/win-x64/System.Security.Cryptography.Xml.dll
desktop/B3/bin/Release/win-x64/System.Security.dll
desktop/B3/bin/Release/win-x64/System.Security.Principal.dll
desktop/B3/bin/Release/win-x64/System.Security.Principal.Windows.dll
desktop/B3/bin/Release/win-x64/System.Security.SecureString.dll
desktop/B3/bin/Release/win-x64/System.ServiceModel.Web.dll
desktop/B3/bin/Release/win-x64/System.ServiceProcess.dll
desktop/B3/bin/Release/win-x64/System.Text.Encoding.CodePages.dll
desktop/B3/bin/Release/win-x64/System.Text.Encoding.dll
desktop/B3/bin/Release/win-x64/System.Text.Encoding.Extensions.dll
desktop/B3/bin/Release/win-x64/System.Text.Encodings.Web.dll
desktop/B3/bin/Release/win-x64/System.Text.Json.dll
desktop/B3/bin/Release/win-x64/System.Text.RegularExpressions.dll
desktop/B3/bin/Release/win-x64/System.Threading.AccessControl.dll
desktop/B3/bin/Release/win-x64/System.Threading.Channels.dll
desktop/B3/bin/Release/win-x64/System.Threading.dll
desktop/B3/bin/Release/win-x64/System.Threading.Overlapped.dll
desktop/B3/bin/Release/win-x64/System.Threading.Tasks.Dataflow.dll
desktop/B3/bin/Release/win-x64/System.Threading.Tasks.dll
desktop/B3/bin/Release/win-x64/System.Threading.Tasks.Extensions.dll
desktop/B3/bin/Release/win-x64/System.Threading.Tasks.Parallel.dll
desktop/B3/bin/Release/win-x64/System.Threading.Thread.dll
desktop/B3/bin/Release/win-x64/System.Threading.ThreadPool.dll
desktop/B3/bin/Release/win-x64/System.Threading.Timer.dll
desktop/B3/bin/Release/win-x64/System.Transactions.dll
desktop/B3/bin/Release/win-x64/System.Transactions.Local.dll
desktop/B3/bin/Release/win-x64/System.ValueTuple.dll
desktop/B3/bin/Release/win-x64/System.Web.dll
desktop/B3/bin/Release/win-x64/System.Web.HttpUtility.dll
desktop/B3/bin/Release/win-x64/System.Windows.dll
desktop/B3/bin/Release/win-x64/System.Xml.dll
desktop/B3/bin/Release/win-x64/System.Xml.Linq.dll
desktop/B3/bin/Release/win-x64/System.Xml.ReaderWriter.dll
desktop/B3/bin/Release/win-x64/System.Xml.Serialization.dll
desktop/B3/bin/Release/win-x64/System.Xml.XDocument.dll
desktop/B3/bin/Release/win-x64/System.Xml.XmlDocument.dll
desktop/B3/bin/Release/win-x64/System.Xml.XmlSerializer.dll
desktop/B3/bin/Release/win-x64/System.Xml.XPath.dll
desktop/B3/bin/Release/win-x64/System.Xml.XPath.XDocument.dll
desktop/B3/bin/Release/win-x64/Tmds.DBus.Protocol.dll
desktop/B3/bin/Release/win-x64/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/tr/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/WindowsBase.dll
desktop/B3/bin/Release/win-x64/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hans/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hant/Microsoft.CodeAnalysis.resources.dll
desktop/B3/bin/Release/win-x64/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
desktop/B3/bin/Release/win-x64/ZString.dll
desktop/B3/obj/Debug/net10.0/Avalonia/references
desktop/B3/obj/Debug/net10.0/Avalonia/resources
desktop/B3/obj/Debug/net10.0/Avalonia/Resources.Inputs.cache
desktop/B3/obj/Debug/net10.0/B3.assets.cache
desktop/B3/obj/Debug/net10.0/B3.csproj.CoreCompileInputs.cache
desktop/B3/obj/Debug/net10.0/B3.dll
desktop/B3/obj/Debug/net10.0/B3.GeneratedMSBuildEditorConfig.editorconfig
desktop/B3/obj/Debug/net10.0/B3.pdb
desktop/B3/obj/Debug/net10.0/B3.sourcelink.json
Delvaptor rule.md